/*
  Component styles
*/

.word-cloud-plot {
  border: 1px dotted lightgray;
  font-family: sans-serif;
}

.word-cloud-plot .title {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

.word-cloud-plot .cloud .token {
  display:inline-block;
  margin:0.25em;
  cursor: pointer;
}

.word-cloud-plot .cloud .token .token-term {

}

.word-cloud-plot .cloud .token .token-term .unique {
  color:teal;
  font-style: italic;
}

.word-cloud-plot .cloud .token .token-term .selected {
  color:orange;
  font-weight: bold;
}

.word-cloud-plot .cloud .token .token-score {
  color: grey;
  font-size: 75%;
}
